# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# OCI secrets and local config
scripts/init/oci-config.local.env
scripts/init/oci-config.ashburn.env
scripts/init/oci-config.frankfurt.env
scripts/init/oci-config.london.env
scripts/init/oci-config.phoenix.env
scripts/init/instance-details.txt
scripts/init/github-secrets.txt

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts